.pds-app-header-bar header a {
  color: #333333; }
  .pds-app-header-bar header a:hover, .pds-app-header-bar header a:focus {
    text-decoration: none; }

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/open-sans-all-400-normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/open-sans-all-300-normal.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/open-sans-all-600-normal.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/open-sans-all-600-italic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/open-sans-all-400-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Karla";
  src: url("../../fonts/karla-latin-700.woff2") format("woff2"), url("../fonts/karla-latin-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.pds-text-size-fine {
  font-size: 9px; }

.pds-text-size-default {
  font-size: 14px; }

.pds-text-size-small {
  font-size: 10px; }

.pds-text-size-default {
  font-size: 14px; }

.pds-notification-badge-content {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .pds-notification-badge-content .pds-notification-badge-circle {
    font-family: Open Sans, sans-serif;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #0075DB;
    text-align: center;
    min-width: 24px;
    border-radius: 9px;
    padding: 3px 5px;
    line-height: 12px; }
    .pds-notification-badge-content .pds-notification-badge-circle.pds-has-count {
      color: #FFFFFF;
      font-weight: 700;
      font-size: 12px; }
    .pds-notification-badge-content .pds-notification-badge-circle.pds-missing-notification-count {
      min-width: inherit;
      border-radius: 50%;
      height: 10px;
      width: 10px; }
    .pds-notification-badge-content .pds-notification-badge-circle.pds-additional-styles {
      background-color: #EB1313; }
  .pds-notification-badge-content.pds-is-elevated .pds-notification-badge-circle {
    background-color: #EB1313; }

template {
  display: none !important; }

/**
  This file is NOT the place to go make styles for the polymer components. This is just something to give
  the root elements a display value so they will take up space in the DOM.

  Occasionally there will be an exception such as pds-icon needs to set a default height and width on the element.
 */
pds-activity-feed-notification,
pds-announce-text,
pds-app-nav,
pds-assignment-template-notification,
pds-chat-quick-message,
pds-checkbox-widget,
pds-circular-progress,
pds-class-block,
pds-class-picker,
pds-communication-notification,
pds-date-picker-dialog,
pds-date-widget,
pds-dialog,
pds-dynamic-select,
pds-global-create-menu,
pds-help-menu,
pds-user-menu,
pds-icon,
pds-loader,
pds-notification-badge,
pds-notification-indicator,
pds-assignment-return-notification,
pds-number-widget,
pds-numbered-slider,
pds-overlay-dropdown,
pds-progress-bar-widget,
pds-radio-button-widget,
pds-reporting-term-selector,
pds-rich-text-editor,
pds-search,
pds-select-widget,
pds-text-widget,
pds-textarea-widget,
pds-time-widget,
pds-file-picker-widget,
pds-parsed-html-content,
pds-banner,
pds-grid-widget-sort-fields,
pds-calendar,
pds-calendar-legend,
pds-calendar-event-form,
pds-grid-widget-pagination-control,
pds-detail-select-widget {
  display: block; }

pds-user-avatar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  pds-user-avatar pds-img {
    display: block; }

pds-rich-text-display,
pds-app-switcher,
pds-pop-over {
  display: inline-block; }

pds-format-time,
pds-format-number,
pds-format-date {
  display: inline; }

pds-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #677274;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
  pds-icon svg {
    height: 26px;
    width: 26px;
    pointer-events: none; }

pds-app-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px; }
  @media (max-width: 768px) {
    pds-app-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-preferred-size: 50px;
          flex-basis: 50px;
      min-width: 50px; } }

pds-app-switcher {
  height: 100%; }

.pds-icon-sprite {
  display: none !important; }

[dir="rtl"] .pds-app-header-bar {
  background: -webkit-gradient(linear, right top, left top, from(#0075DB), to(#00427C));
  background: -o-linear-gradient(right, #0075DB, #00427C);
  background: linear-gradient(to left, #0075DB, #00427C); }

.pds-app-header-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  background: -webkit-gradient(linear, left top, right top, from(#0075DB), to(#00427C));
  background: -o-linear-gradient(left, #0075DB, #00427C);
  background: linear-gradient(to right, #0075DB, #00427C);
  -webkit-box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  z-index: 6000;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Open Sans, sans-serif; }
  @media (max-width: 768px) {
    .pds-app-header-bar {
      height: auto;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .pds-app-header-bar header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    overflow: hidden; }
    @media (max-width: 768px) {
      .pds-app-header-bar header {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 50%;
                flex: 1 1 50%; } }
    @media (max-width: 576px) {
      .pds-app-header-bar header {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 calc(100vw - 250px);
                flex: 1 1 calc(100vw - 250px); } }
    .pds-app-header-bar header a {
      -webkit-margin-start: 20px;
              margin-inline-start: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-decoration: none;
      color: #FFFFFF;
      font-weight: 600;
      font-size: 24px;
      line-height: 27px;
      overflow: hidden; }
      @media (max-width: 768px) {
        .pds-app-header-bar header a {
          overflow: hidden; } }
      .pds-app-header-bar header a .pds-logo-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        min-width: 0;
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        [dir='rtl'] .pds-app-header-bar header a .pds-logo-text {
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1; }
      .pds-app-header-bar header a .pds-logo-text-primary {
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 28px;
                flex: 0 0 28px;
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        @media (max-width: 768px) {
          .pds-app-header-bar header a .pds-logo-text-primary {
            font-size: 18px; } }
      .pds-app-header-bar header a .pds-logo-text-secondary {
        font-family: 'Karla', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 16px;
                flex: 0 0 16px; }
      .pds-app-header-bar header a:focus {
        border: none;
        outline: 2px solid #8FE5FF;
        outline-offset: -2px; }
    .pds-app-header-bar header pds-icon {
      /* rtl-lint:ignore */
      margin-left: 4px;
      /* rtl-lint:ignore */
      margin-right: 10px; }
      [dir='rtl'] .pds-app-header-bar header pds-icon {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; }
    .pds-app-header-bar header svg {
      width: 28px;
      height: 60px; }
  .pds-app-header-bar .pds-app-back {
    -webkit-padding-start: 15px;
            padding-inline-start: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF; }
    .pds-app-header-bar .pds-app-back pds-icon {
      -webkit-margin-end: 15px;
              margin-inline-end: 15px;
      width: 34px;
      height: 34px; }
      [dir='rtl'] .pds-app-header-bar .pds-app-back pds-icon {
        -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
                transform: scaleX(-1); }
      .pds-app-header-bar .pds-app-back pds-icon svg {
        width: 26px;
        fill: #FFFFFF; }
    .pds-app-header-bar .pds-app-back:hover, .pds-app-header-bar .pds-app-back:focus {
      outline: none;
      border: none;
      cursor: pointer; }
      .pds-app-header-bar .pds-app-back:hover pds-icon, .pds-app-header-bar .pds-app-back:focus pds-icon {
        border-radius: 50%;
        background: #FFFFFF; }
        .pds-app-header-bar .pds-app-back:hover pds-icon svg, .pds-app-header-bar .pds-app-back:focus pds-icon svg {
          z-index: 1;
          fill: #00427C; }
    @media (max-width: 768px) {
      .pds-app-header-bar .pds-app-back .pds-app-back-text {
        display: none; } }
  .pds-app-header-bar .pds-app-header-bar-center {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .pds-app-header-bar .pds-app-header-bar-center pds-class-picker button.pds-class-picker .class-selector-text {
      position: relative;
      top: -1px; }
    @media (max-width: 768px) {
      .pds-app-header-bar .pds-app-header-bar-center {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        background: #FFFFFF;
        -webkit-margin-start: -45px;
                margin-inline-start: -45px;
        min-width: 300px;
        width: 300px; } }
    @media (max-width: 576px) {
      .pds-app-header-bar .pds-app-header-bar-center {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        min-width: 200px;
        width: 200px; }
        .pds-app-header-bar .pds-app-header-bar-center pds-class-picker {
          width: 100%;
          -webkit-padding-end: 5px;
                  padding-inline-end: 5px; } }
    .pds-app-header-bar .pds-app-header-bar-center .pds-app-header-bar-text {
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      @media (min-width: 577px) {
        .pds-app-header-bar .pds-app-header-bar-center .pds-app-header-bar-text {
          max-width: 300px; } }
      @media (max-width: 576px) {
        .pds-app-header-bar .pds-app-header-bar-center .pds-app-header-bar-text {
          max-width: 200px; } }
      .pds-app-header-bar .pds-app-header-bar-center .pds-app-header-bar-text h1 {
        font-family: Open Sans, sans-serif;
        font-weight: 300;
        margin: 0 15px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font-size: 40px;
        line-height: 40px;
        padding: 30px 0; }
        @media (max-width: 768px) {
          .pds-app-header-bar .pds-app-header-bar-center .pds-app-header-bar-text h1 {
            font-size: 24px;
            line-height: 24px;
            padding: 21px 0; } }
      .pds-app-header-bar .pds-app-header-bar-center .pds-app-header-bar-text .pds-page-text-primary {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
        min-width: 0;
        overflow: hidden;
        text-align: center;
        padding: 0; }
      .pds-app-header-bar .pds-app-header-bar-center .pds-app-header-bar-text .pds-page-text-secondary {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
        min-width: 0;
        overflow: hidden;
        text-align: center;
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
  .pds-app-header-bar .pds-app-actions {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (max-width: 768px) {
      .pds-app-header-bar .pds-app-actions {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        width: 200px; } }
    .pds-app-header-bar .pds-app-actions .pds-app-action {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 50px;
              flex: 0 1 50px;
      height: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer; }
      @media (max-width: 768px) {
        .pds-app-header-bar .pds-app-actions .pds-app-action {
          width: 40px; } }
    .pds-app-header-bar .pds-app-actions div.pds-app-action {
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .pds-app-header-bar .pds-app-actions pds-app-switcher .pds-popover-button-contents button pds-icon {
      fill: #FFFFFF;
      height: 32px;
      width: 32px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      margin: 0; }
      .pds-app-header-bar .pds-app-actions pds-app-switcher .pds-popover-button-contents button pds-icon svg {
        width: 20px; }
    .pds-app-header-bar .pds-app-actions pds-app-switcher .pds-popover-button-contents button:hover, .pds-app-header-bar .pds-app-actions pds-app-switcher .pds-popover-button-contents button:focus,
    .pds-app-header-bar .pds-app-actions pds-app-switcher .pds-popover-button-contents button button:focus,
    .pds-app-header-bar .pds-app-actions pds-app-switcher .pds-popover-button-contents button a:focus {
      outline: none;
      border: none;
      cursor: pointer; }
      .pds-app-header-bar .pds-app-actions pds-app-switcher .pds-popover-button-contents button:hover pds-icon svg, .pds-app-header-bar .pds-app-actions pds-app-switcher .pds-popover-button-contents button:focus pds-icon svg,
      .pds-app-header-bar .pds-app-actions pds-app-switcher .pds-popover-button-contents button button:focus pds-icon svg,
      .pds-app-header-bar .pds-app-actions pds-app-switcher .pds-popover-button-contents button a:focus pds-icon svg {
        z-index: 1;
        fill: #00427C; }
    .pds-app-header-bar .pds-app-actions .pds-app-action pds-icon,
    .pds-app-header-bar .pds-app-actions a.pds-app-action pds-icon,
    .pds-app-header-bar .pds-app-actions a.pds-search pds-icon {
      height: 32px;
      width: 32px;
      fill: #FFFFFF; }
      .pds-app-header-bar .pds-app-actions .pds-app-action pds-icon svg,
      .pds-app-header-bar .pds-app-actions a.pds-app-action pds-icon svg,
      .pds-app-header-bar .pds-app-actions a.pds-search pds-icon svg {
        width: 20px;
        height: 20px; }
    .pds-app-header-bar .pds-app-actions .pds-app-action:hover pds-icon, .pds-app-header-bar .pds-app-actions .pds-app-action:focus pds-icon,
    .pds-app-header-bar .pds-app-actions a.pds-app-action:hover pds-icon,
    .pds-app-header-bar .pds-app-actions a.pds-app-action:focus pds-icon,
    .pds-app-header-bar .pds-app-actions a.pds-search:hover pds-icon,
    .pds-app-header-bar .pds-app-actions a.pds-search:focus pds-icon {
      cursor: pointer;
      border-radius: 50%;
      background-color: #FFFFFF;
      fill: #00427C;
      max-width: 32px; }
    @media (max-width: 768px) {
      .pds-app-header-bar .pds-app-actions a.pds-search {
        -webkit-margin-end: 10px;
                margin-inline-end: 10px; } }
    .pds-app-header-bar .pds-app-actions pds-help-menu .pds-help-menu-content pds-icon {
      fill: #FFFFFF;
      margin: 0; }
      .pds-app-header-bar .pds-app-actions pds-help-menu .pds-help-menu-content pds-icon svg {
        width: 20px;
        height: 20px; }
    .pds-app-header-bar .pds-app-actions pds-help-menu .pds-help-menu-content button {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 32px;
              flex: 0 1 32px;
      height: 100%;
      width: 32px;
      padding: 0; }
      .pds-app-header-bar .pds-app-actions pds-help-menu .pds-help-menu-content button:hover, .pds-app-header-bar .pds-app-actions pds-help-menu .pds-help-menu-content button:focus {
        border: none; }
        .pds-app-header-bar .pds-app-actions pds-help-menu .pds-help-menu-content button:hover pds-icon, .pds-app-header-bar .pds-app-actions pds-help-menu .pds-help-menu-content button:focus pds-icon {
          background-color: #FFFFFF;
          fill: #00427C;
          border-radius: 50%; }
    .pds-app-header-bar .pds-app-actions button.pds-global-create-menu {
      border: 1px solid #00427C; }
      .pds-app-header-bar .pds-app-actions button.pds-global-create-menu:first-child {
        -webkit-border-end: none;
                border-inline-end: none; }
    .pds-app-header-bar .pds-app-actions .pds-global-create-menu-content.pds-global-create-menu .pds-button-bar.pds-global-create-menu > button.pds-global-create-menu > pds-icon.pds-global-create-menu svg.pds-global-create-menu {
      height: 20px;
      width: 20px; }
    .pds-app-header-bar .pds-app-actions button.pds-app-action {
      background: none;
      border: none; }
    .pds-app-header-bar .pds-app-actions .pds-app-action.pds-app-action-priority-2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 480px) {
        .pds-app-header-bar .pds-app-actions .pds-app-action.pds-app-action-priority-2 {
          display: none; } }
    .pds-app-header-bar .pds-app-actions .pds-app-action.pds-app-action-priority-3,
    .pds-app-header-bar .pds-app-actions pds-user-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 768px) {
        .pds-app-header-bar .pds-app-actions .pds-app-action.pds-app-action-priority-3,
        .pds-app-header-bar .pds-app-actions pds-user-menu {
          display: none; } }
    .pds-app-header-bar .pds-app-actions .pds-app-action.pds-app-action-priority-4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 992px) {
        .pds-app-header-bar .pds-app-actions .pds-app-action.pds-app-action-priority-4 {
          display: none; } }
  @media (max-width: 1200px) {
    .pds-app-header-bar pds-detail-select select {
      width: calc(100% - 110px); } }

.pds-detail-screen-pro-mode .pds-app-header-bar {
  background: -webkit-gradient(linear, left top, right top, from(#0075DB), to(#00427C));
  background: -o-linear-gradient(left, #0075DB, #00427C);
  background: linear-gradient(to right, #0075DB, #00427C);
  -webkit-box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2); }
  @media (max-width: 768px) {
    .pds-detail-screen-pro-mode .pds-app-header-bar {
      height: 60px;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }
  .pds-detail-screen-pro-mode .pds-app-header-bar header,
  .pds-detail-screen-pro-mode .pds-app-header-bar pds-app-switcher,
  .pds-detail-screen-pro-mode .pds-app-header-bar pds-user-menu,
  .pds-detail-screen-pro-mode .pds-app-header-bar pss-search {
    display: none; }
  .pds-detail-screen-pro-mode .pds-app-header-bar .pds-logo-text pds-app-switcher {
    display: none; }
  .pds-detail-screen-pro-mode .pds-app-header-bar .pds-app-back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 768px) {
      .pds-detail-screen-pro-mode .pds-app-header-bar .pds-app-back {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 106px;
                flex: 0 0 106px; } }
    @media (max-width: 576px) {
      .pds-detail-screen-pro-mode .pds-app-header-bar .pds-app-back {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50px;
                flex: 0 0 50px; } }
  .pds-detail-screen-pro-mode .pds-app-header-bar .pds-app-actions pds-popover-menu pds-popover {
    height: 32px;
    width: 32px; }
    .pds-detail-screen-pro-mode .pds-app-header-bar .pds-app-actions pds-popover-menu pds-popover button {
      background: none;
      border: none;
      padding: 0; }
      .pds-detail-screen-pro-mode .pds-app-header-bar .pds-app-actions pds-popover-menu pds-popover button pds-icon {
        fill: #FFFFFF;
        margin: 0; }
  @media (max-width: 768px) {
    .pds-detail-screen-pro-mode .pds-app-header-bar .pds-app-header-bar-center {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      background: none;
      margin: 0;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 100%;
              flex: 1 1 100%;
      min-width: auto; }
    .pds-detail-screen-pro-mode .pds-app-header-bar .pds-app-actions {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 250px;
              flex: 0 0 250px; } }
  @media (max-width: 768px) and (max-width: 768px) {
    .pds-detail-screen-pro-mode .pds-app-header-bar .pds-app-actions {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 106px;
              flex: 0 0 106px; } }
  @media (max-width: 768px) and (max-width: 576px) {
    .pds-detail-screen-pro-mode .pds-app-header-bar .pds-app-actions {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50px;
              flex: 0 0 50px; } }

@media (min-width: 769px) {
  pds-app-nav:not(.pds-widget),
  .pds-app-nav-container:empty {
    width: 110px;
    grid-area: pds-layout-nav;
    -webkit-border-end: 1px solid #C4C9CA;
            border-inline-end: 1px solid #C4C9CA;
    position: relative;
    opacity: 1;
    -webkit-transform: opacity 1s;
        -ms-transform: opacity 1s;
            transform: opacity 1s; }
    pds-app-nav:not(.pds-widget)::before,
    .pds-app-nav-container:empty::before {
      width: 110px;
      content: '';
      background: url('data:image/svg+xml;utf8,\a       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 296">\a       <rect fill="%23A8B1B2" x="42.5" y="14.5" width="25" height="25" rx="4"/><rect fill="%23A8B1B2" x="17" y="49" width="76" height="13" rx="2"/>\a       <rect fill="%23C4C9CA" x="42.5" y="88.5" width="25" height="25" rx="4"/><rect fill="%23C4C9CA" x="17" y="123" width="76" height="13" rx="2"/>\a       <rect fill="%23DFE2E2" x="42.5" y="162.5" width="25" height="25" rx="4"/><rect fill="%23DFE2E2" x="17" y="197" width="76" height="13" rx="2"/>\a       <rect fill="%23F1F4F4" x="42.5" y="236.5" width="25" height="25" rx="4"/><rect fill="%23F1F4F4" x="17" y="271" width="76" height="13" rx="2"/>\a       </svg>');
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      bottom: 0;
      inset-inline-start: 0;
      inset-inline-end: 0; } }

pds-notification-badge {
  position: absolute;
  top: 5px;
  inset-inline-end: 5px;
  z-index: 1; }

.pds-notification-badge-container {
  position: relative; }

div.pds-notification-badge-container {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.pds-vertical-tabs {
  background: #FFFFFF;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 240px;
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden; }
  .pds-vertical-tabs li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0; }
    .pds-vertical-tabs li.pds-is-active {
      background-color: #C2E2FF;
      -webkit-border-start: 4px solid #0075DB;
              border-inline-start: 4px solid #0075DB; }
      .pds-vertical-tabs li.pds-is-active a {
        -webkit-padding-start: 16px;
                padding-inline-start: 16px; }
      .pds-vertical-tabs li.pds-is-active pds-icon {
        fill: #0075DB; }
    .pds-vertical-tabs li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: #333333;
      position: relative;
      text-decoration: none;
      padding: 15px 0 14px;
      -webkit-padding-start: 20px;
              padding-inline-start: 20px;
      cursor: pointer; }
      .pds-vertical-tabs li a:hover, .pds-vertical-tabs li a:focus {
        background-color: #F1F4F4; }
        .pds-vertical-tabs li a:hover pds-icon, .pds-vertical-tabs li a:focus pds-icon {
          fill: #0075DB; }
      .pds-vertical-tabs li a .pds-icon-container {
        overflow: hidden;
        width: 24px;
        height: 24px;
        margin: 0;
        -webkit-margin-end: 15px;
                margin-inline-end: 15px;
        padding: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .pds-vertical-tabs li a .pds-icon-container img {
          width: 24px; }
      .pds-vertical-tabs li a pds-icon {
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-align: unset;
            -ms-flex-align: unset;
                align-items: unset;
        -webkit-box-pack: unset;
            -ms-flex-pack: unset;
                justify-content: unset; }
        .pds-vertical-tabs li a pds-icon svg {
          width: 24px;
          height: 24px; }
      .pds-vertical-tabs li a .pds-vertical-tab-text {
        max-width: 100%;
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
      .pds-vertical-tabs li a .pds-icon-container + .pds-vertical-tab-text {
        max-width: 167px; }
